
.sidebar{
    background-color: #fff;
    border-left: 1px solid #dadada;
    transition: all 300ms ;

    
  }
  
  .pb-bottom1{
    padding-bottom: 8px;
    margin-top: 14px;
  }
  .pb-bottom2{
    padding-bottom: 21px;
    margin-top: 24px;
  }
  .opensidebar{
   width: 260px;
  }
  
  .closesidebar{
    width: 75px;
  }
  

  
  .color-link{
    color: #535353;
  }
  
  .bg-submenu{
    
    background-color: #f2f2f2;
  }
  
  .active{
    width: 200px;
  }