@import "../../../scss/variables.scss";

.navbar {
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: sticky !important;    
  top: 0;
  right: 0;
  left: 0;
  z-index: 55;
}

.btn-Hamburger {
  outline: none;
  border: none;
  background-color: #fff;
}

.icon-hamburger {
  color: $main-color;
  font-size: 30px;
}

.logo {
  
  svg{
    font-size: 25px;
    margin-left: 3px; 
        color: #fff;
    background-color:$main-color;
    border-radius: 50%;
    padding: 3px;
  }
  
  h1{
    color: $main-color;
    font-size: 23px;
    // font-weight: bold;
    font-family: "Domrol";
  }
}

.login-btn {
  outline: none;
  border: 0;
  color: #fff;
  font-size: 13px;
  padding: 9px 11.5px;
  font-weight: bold;
  background-color:  $main-color;
  border-radius: 30px;
}

.search {
   background-color: #f1f1f1;
   padding: 4px;
   border-radius: 4px;
  input {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #838181;
  }

  svg{
    font-size: 20px;
    color: #838181;
  }
}
