@import "../../../scss/variables.scss";

.myCustomSwiper {
  border-radius: 10px;

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;

    &::after {
      background-color: rgba(0, 0, 0, 0.24);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover::after {
      color: $main-color;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: gray;
  }

  .lazy-load-image-background.black-and-white {
    height: 100px !important;
  }

  .lazy-load-image-background.lazy-load-image-loaded.black-and-white {
    height: auto !important;
  }
}




@media all and (min-width: 950px) {
  .myCustomSwiper {
    .lazy-load-image-background.black-and-white {
      height: 340px !important;
    }
  
    .lazy-load-image-background.lazy-load-image-loaded.black-and-white {
      height: auto !important;
    }
  }
}
